Redirect 301 /tests/metadata_scraper/301.html http://creativecommons.org
Redirect 302 /tests/metadata_scraper/302.html https://creativecommons.net
Redirect 301 /tests/metadata_scraper/profile_redirect.html /tests/metadata_scraper/profile.html